body.login {
    background: transparent;
    padding-top: 100px;
    box-sizing: border-box;
}
body.login div#login {
    background-color: rgba(0,0,0,0.65);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: -3px 7px 35px 1px rgba(0,0,0,.8);
    -webkit-box-shadow: -3px 7px 35px 1px rgba(0,0,0,.8);
    -o-box-shadow: -3px 7px 35px 1px rgba(0,0,0,.8);
}
@media screen and (min-width:768px){
    
    body.login div#login {
        width: 700px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 330px;
    }
}

@media screen and (min-width:768px){

    body.login div#login h1 {
        display: inline-block;
        width: 50%;
        margin-top: 100px;

    }
}
body.login div#login h1 a {
    background-image: url(../img/logo.png);
    background-size: 60%;
    height: 100px;
    width: 100%;
    margin: 0;
}
body.login div#login form#loginform {
    float: right;
    padding: 26px 20px 46px;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {
    color: #000000;
}
body.login div#login form#loginform input {
    background: #fff;
    border: 1px solid #000000;
}
body.login div#login form#loginform input#user_login {}

@media screen and (min-width:768px){
    body.login div#login form#loginform input#user_pass {
        margin-top: 8px;
    }
}
body.login div#login form#loginform p.forgetmenot {
    margin-top: 8px;
}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    padding: 5px 40px;
    height: auto;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;

}

@media screen and (min-width:768px){
    body.login div#login p#nav {
        display: inline;
        color: #fff;
    }
}

body.login div#login p#nav a {
    color: #fff;
}


@media screen and (min-width:768px){
    body.login div#login p#backtoblog{
        display: inline;
        float: right;
        margin: 0;
    }
}

body.login div#login p#backtoblog a {
    color: #fff;
}
#login_error{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box
}
.group{
    margin-bottom: 20px;
}
.group:after{
    visibility: hidden;
    display: block;
    content: "";
    height: 0;
    clear: both;
}
